body{
    background-color: rgb(15, 9, 1);

}
.container{
    position:absolute;
}
.clock{

    height: 300px;
    width: 300px;
    border: 20px solid white ;
    border-radius: 50%;
    background-image: url('eiffel.png');
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;

   
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color:white;
}
.clock span{
    position: absolute;
    transform:rotate(calc(90deg*var(--i)));
    inset: 1px;
    text-align: center;
}
.clock span b{
    padding:  20px;
    font-size: 20px;
    text-align: center;
    color: goldenrod;
}
.clock::after{
    content:'';
    position:relative;
    text-align: center;
    margin-top: 137px;
    margin-left: 140px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color:white;
}
.hand{
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.hand i{
    position: absolute;
    text-align: center;
    background-color: white;
    width: 8px;
    height: 120px;
    margin-top: 200px;
     border-radius: 16px;
    
}