
*{
    margin: 0px;
    padding: 0px;
}

body{

    background-color: #e44df4;
    text-align: center;
}
.container{
    height: 70vh;
}
.game{
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    box-shadow:#d4b2d8;
    font-size: 8vmin;
}